name: Node.js CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]

    steps:
    - name: Git checkout
      uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - run: npm install && npm install codecov
    - run: npm run build --if-present
    - run: npm run lint
    - run: npm run cov
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3


  # build-windows:
  #   runs-on: windows-latest

  #   strategy:
  #     matrix:
  #       node-version: [12.x, 14.x]

  #   steps:
  #   - uses: actions/checkout@v2
  #   - name: Use Node.js ${{ matrix.node-version }}
  #     uses: actions/setup-node@v1
  #     with:
  #       node-version: ${{ matrix.node-version }}
  #   - run: npm install
  #   - run: npm run build --if-present
  #   - run: npm run cov
